<div>
  <h3>Select a day:</h3>
  <button (click)="selectDay('monday')">Monday</button>
  <button (click)="selectDay('tuesday')">Tuesday</button>
  <button (click)="selectDay('wednesday')">Wednesday</button>
</div>

<div [ngSwitch]="selectedDay">
  <div *ngSwitchCase="'monday'">Monday: Start of the work week.</div>
  <div *ngSwitchCase="'tuesday'">Tuesday: Second day of the week.</div>
  <div *ngSwitchCase="'wednesday'">Wednesday: Middle of the week.</div>
  <div *ngSwitchDefault>Please select a day.</div>
</div>


<div>
  <h2>Filtered Values:</h2>
  <p>Name: {{ a | filter:'name' }}</p>
  <p>Number: {{ a | filter:'number' }}</p>
  <p>undefined:{{a | filter:'age' }}</p>
</div>

<h3 appHighlighttext >Custom highlight directive</h3>



<h4>custom pipe implementations below</h4>

<h4>The 3rd and final Custom Pipe(charAtIndex)</h4>
<p>{{ 'Angular' | charAtIndex:2}}</p>

<h4>Reverse a String</h4>
<p>{{title | reverse}}</p>

<h4>2.1 USD TO INR </h4>
<p>{{ 3 | moneconversion}}</p>

<h4>2.2 INR TO USD</h4>
<p>{{2000 | rupeetodollar}}</p>


<h2>Angular Pipes</h2>


<h4>Strings</h4>
<p>{{title | uppercase}}</p>
<p>{{title | lowercase}}</p>
<p>{{title | titlecase}}</p>


<h4>Taarikh Pipe</h4>
<p>{{date | date}}</p>
<p>{{date | date:'fullDate'}}</p>
<p>{{date | date:'dd/MM/yyyy'}}</p>


<h4>Money  built-in pipe</h4>
<p>USD:{{money| currency:'USD'}}</p>
<p>INR:{{money| currency:'INR'}}</p>


<h4>Decimal Conversion</h4>
<p>{{decimals | number:'1.2-2'}}</p>


<h4>Slicing</h4>
<p>{{arrs | slice:0:2 }}</p>


<h4> json pipe</h4>
<pre>{{jsonData| json}}</pre>








